.ty-typing-interface {
  width: 70vw;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 1em;

  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: repeat(2, 3em);
  align-items: center;

  font-family: monospace;
  font-size: 1.2em;

  pre {
    margin: 0;
  }

  .ty-typed-text {
    text-align: right;
  }

  .ty-target-text {
    text-align: left;
  }

  .ty-typing-input {
    grid-column: 2 / 4;
    width: 100%;
    border: none;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    height: fit-content;

    &.ty-typing-input--typo {
      color: red;
    }

    &.ty-typing-input--command-line {
      color: #66f;
    }

    &.ty-typing-input--valid-command{
      text-decoration: underline;
      color: #66f;
    }
  }
}
